*{
	box-sizing: border-box;
	margin: 0 auto;
	text-align: center;
}

h1{
	font-family: 'Vollkorn', serif;
	color: black;
}

body{
	font-family: 'Exo', sans-serif;
	background-color: #7C90A0;	
}

main{
	display: flex;
}

#container{
	flex-direction: column;

}

span{
	color: border: 2px solid #DFBB6C;
	color: white;
}

img{
	width: 200px;
	height: 300px;
	padding-top: 70px;
}

a{
	text-decoration: none;
	border: 2px solid black;
	border-radius: 10px;
	padding: 10px 23px;
	color: black;
}

a:hover{
border: 2px solid white;
color: white;
}

a:active{
	border: 2px solid white;
	color: white;
}

ul{
	text-align: left;
}

li{
	list-style: none;
	display: inline-block;
}

#home{
	padding-right: 12px;
}

#about{
	padding-top: 40px;
	padding-right: 12px;
}

#contact a{
	padding: 10px 14px;
}

#container{
	width: inherit;
	height: inherit;
}



/* ignore the other background colors, wanted to make sure my code worked */
@media only screen and (max-width: 400px){
	main{
		/* padding-top: 40px; */
	}

	h1{
		padding-top: 40px;
		font-size: 2.4rem;
	}
	
	p{
		padding-top: 20px;
		font-size: 18px;
	}

	ul{
		padding-top: 40px;
	}

	#links{
		padding-bottom: 70px;
		padding-left: 65px;
	}

	.hi{
		font-size: 29px;
	}

}

@media only screen and (min-width: 401px){
	main{
		/* padding-top: 80px; */
	}

	#container{
		padding-top: 50px;
	}

	h1{
		padding-top: 40px;
	}
	
	p{
		padding-top: 20px;
		font-size: 18px;
	}

	ul{
		padding-top: 50px;
	}
	#links{
		padding-left: 65px;
		padding-bottom: 70px;
	}
}

@media only screen and (min-width: 1000px){
	#container{
		padding-top: 50px;
	}

	img{
		padding-top: 40px;
	}

	h1{
		font-size: 2.5rem;
	}

	p{
		font-size: 22px;
	}

	#links{
		padding-left: 115px;
	}

	.hi{
		font-size: 34px;
	}
}